.container-fluid{
    background: #34495e;
}

h5{
    text-align: center;
}



.lblError{
    color: red;
}



.body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

button{
    padding: 8px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

