<!--Sidebar Container-->
<ng-sidebar-container>

    <!--Sidebar-->
    <ng-sidebar class="sidebar" mode="push" [opened]="opened">

        <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="#"><h6>Test Environment</h6></a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="#">Test Environment Availability</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Environment Provisioning</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="#"><h6>Test Automation</h6></a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="#">Tool Chain Integration</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Test Environment Availability</a></li>
        </ul>
    </li>
</ul>
    </ng-sidebar>
</ng-sidebar-container>



